@using WebMvc.Models.TPWMDUCD;
@model TPWMDUCDViewModel
@{
    ViewData["Title"] = "TPWMDUCD";
    ViewData["Menu"] = "1/2";
}
<div class="d-flex justify-content-center mt-2" style="width: 100%">
    <h3>Satış - 3D Model / NS (TP_WMD_UCD)</h3>
</div>
<form asp-controller="/Op" asp-action="TPWMDUCD" method="post" >
    <div class="d-flex p-2">
        <section class="input-section col-10 ps-5 pe-5">
            <div class="pt-2" style="border: solid #aeb5bd; border-width: 0px 0px 1px 0px;">
                <span class="fs-4">Client</span>
                <div class="form-row d-flex justify-content-between pb-2">
                    <div class="col-md-3">
                        <label class="form-label" asp-for="G.CLIENT_CODE"></label>
                        <input class="form-control" asp-for="G.CLIENT_CODE" hash-input="CLIENT_CODE" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" asp-for="G.CLIENT_USERNAME"></label>
                        <input class="form-control" asp-for="G.CLIENT_USERNAME" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" asp-for="G.CLIENT_PASSWORD"></label>
                        <input class="form-control" asp-for="G.CLIENT_PASSWORD" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="GUID"></label>
                <input class="form-control" asp-for="GUID" hash-input="GUID" />
            </div>
            <div class="mt-2">
                @await Component.InvokeAsync("AlertInfo", new { message = "Kart bilgilerini sağ taraftan kart seçerek otomatik doldurabilirsiniz." })
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="KK_Sahibi"></label>
                <input class="form-control" asp-for="KK_Sahibi" />
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="KK_No"></label>
                <input class="form-control" asp-for="KK_No" auto-fill-card-no />
            </div>
            <div class="form-row d-flex justify-content-between pb-2">
                <div class="col-md-3">
                    <label class="form-label" asp-for="KK_SK_Ay"></label>
                    <input class="form-control" asp-for="KK_SK_Ay" auto-fill-card-expirationmonth />
                </div>
                <div class="col-md-3">
                    <label class="form-label" asp-for="KK_SK_Yil"></label>
                    <input class="form-control" asp-for="KK_SK_Yil" auto-fill-card-expirationyear />
                </div>
                <div class="col-md-3">
                    <label class="form-label" asp-for="KK_CVC"></label>
                    <input class="form-control" asp-for="KK_CVC" auto-fill-card-cvc />
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="KK_Sahibi_GSM"></label>
                <input class="form-control" asp-for="KK_Sahibi_GSM" />
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Hata_URL"></label>
                <input class="form-control" asp-for="Hata_URL" hash-input="Hata_URL" />
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Basarili_URL"></label>
                <input class="form-control" asp-for="Basarili_URL" hash-input="Basarili_URL" />
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Siparis_ID"></label>
                <input class="form-control" asp-for="Siparis_ID" hash-input="Siparis_ID" />
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Siparis_Aciklama"></label>
                <input class="form-control" asp-for="Siparis_Aciklama" />
            </div>
            <div class="form-row d-flex justify-content-between pb-2">
                <div class="col-md-3">
                    <label class="form-label" asp-for="Taksit"></label>
                    <input class="form-control" asp-for="Taksit" hash-input="Taksit" />
                </div>
                <div class="col-md-3">
                    <label class="form-label" asp-for="Islem_Tutar"></label>
                    <input class="form-control" asp-for="Islem_Tutar" hash-input="Islem_Tutar" />
                </div>
                <div class="col-md-3">
                    <label class="form-label" asp-for="Toplam_Tutar"></label>
                    <input class="form-control" asp-for="Toplam_Tutar" hash-input="Toplam_Tutar" />
                </div>
            </div>
            <div>
                <div class="mt-2">
                    @await Component.InvokeAsync("AlertInfo", new { message = "Hash için gerekli alanlar (CLIENT_CODE + GUID + Siparis_ID + Taksit + Islem_Tutar + Toplam_Tutar)" })
                </div>
                <label class="form-label" asp-for="Islem_Hash"></label>
                <div class="row g-3 align-items-center">
                    <div class="col-6">
                        <input class="form-control" asp-for="Islem_Hash" hash-result />
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-outline-success mb-1" onclick="generateHash()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-plus-fill" viewBox="0 0 16 16">
                                <path d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13zm.5-7.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2a.5.5 0 0 1 1 0z" />
                            </svg>
                            Hash Oluştur
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Islem_Guvenlik_Tip"></label>
                <select class="form-control" asp-for="Islem_Guvenlik_Tip">
                    <option value="NS">NS</option>
                    <option value="3D">3D</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Islem_ID"></label>
                <input class="form-control" asp-for="Islem_ID" />
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="IPAdr"></label>
                <input class="form-control" asp-for="IPAdr" value="127.0.0.1" />
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Ref_URL"></label>
                <input class="form-control" asp-for="Ref_URL" />
            </div>
            <button class="btn btn-secondary text-center w-100 mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#data-collapse" aria-expanded="false" aria-controls="data-collapse">
                Data
            </button>
            <div id="data-collapse" class="collapse mb-4">
                <div class="card card-body">
                    <div class="form-row d-flex gap-5 pb-2">
                        <div class="col-md-2">
                            <label class="form-label" asp-for="Data1"></label>
                            <input class="form-control" asp-for="Data1" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" asp-for="Data2"></label>
                            <input class="form-control" asp-for="Data2" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" asp-for="Data3"></label>
                            <input class="form-control" asp-for="Data3" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" asp-for="Data4"></label>
                            <input class="form-control" asp-for="Data4" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" asp-for="Data5"></label>
                            <input class="form-control" asp-for="Data5" />
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" id="pay" class="btn btn-primary mt-4 w-100">Direkt Onaylayarak Devam Et</button>
        </section>
        <section class="card-section col-2">
            <partial name="_TestCardsPartial" />
        </section>
    </div>
    @Html.AntiForgeryToken()
</form>
<br />
@section Scripts{
    <script src="~/js/hash.js"></script>
    <script src="~/js/tpwmducd.js"></script>
}