@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <br />
    <h1 class="display-4">ParamTech Entegrasyon Uygulaması</h1>
    <p>Lütfen uygulamak istediğiniz işlemi menüden seçiniz.</p>
</div>